{{ $icon := resources.Get "icons/logo.png" }}

<link rel="shortcut icon" href="{{ ($icon.Fit "256x256").Permalink }}" >
<link rel="apple-touch-icon" href="{{ ($icon.Fit "180x180").Permalink }}" sizes="180x180">
<link rel="icon" type="image/png" href="{{ ($icon.Fit "16x16").Permalink }}" sizes="16x16">
<link rel="icon" type="image/png" href="{{ ($icon.Fit "32x32").Permalink }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ ($icon.Fit "36x36").Permalink }}" sizes="36x36">
<link rel="icon" type="image/png" href="{{ ($icon.Fit "48x48").Permalink }}" sizes="48x48">
<link rel="icon" type="image/png" href="{{ ($icon.Fit "72x72").Permalink }}" sizes="72x72">
<link rel="icon" type="image/png" href="{{ ($icon.Fit "96x96").Permalink }}" sizes="96x96">
<link rel="icon" type="image/png" href="{{ ($icon.Fit "144x144").Permalink }}" sizes="144x144">
<link rel="icon" type="image/png" href="{{ ($icon.Fit "192x192").Permalink }}" sizes="192x192">
