<!-- https://remarkablemark.org/blog/2021/06/01/add-copy-code-to-clipboard-button-to-jeyll-site/ -->
<script>
    var codeBlocks = document.querySelectorAll('.highlight pre');
    codeBlocks.forEach(function (codeBlock) {
        var copyButton = document.createElement('button');
        copyButton.className = 'copy';
        copyButton.type = 'button';
        copyButton.ariaLabel = 'Copy code to clipboard';
        copyButton.innerText = 'Copy';
        codeBlock.append(copyButton);
        copyButton.addEventListener('click', function () {
            var code = codeBlock.querySelector('code').innerText.trim();
            window.navigator.clipboard.writeText(code);
            copyButton.innerText = 'Copied';
            var fourSeconds = 4000;
            setTimeout(function () {
                copyButton.innerText = 'Copy';
            }, fourSeconds);
        });
    });
</script>

{{ $glightbox_js := resources.Get "glightbox/dist/js/glightbox.js" }}
{{ $glightbox_js := slice $glightbox_js | resources.Concat "js/glightbox.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $glightbox_js.RelPermalink }}" integrity="{{ $glightbox_js.Data.Integrity }}"></script>

<script type="text/javascript">
    lightbox = GLightbox({});
</script>