name: Check Docs

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-latest
    if: "${{ !contains(github.event.head_commit.message, 'ci skip') }}"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: ".node-version"
          cache: npm

      - name: Cache Hugo Resources
        uses: actions/cache@v3
        with:
          path: resources/
          key: hugo-resources-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            hugo-resources-

      - name: Install Dependencies
        run: npm install

      - name: Check Spelling
        run: npm run spellcheck

      - name: Check Formatting
        run: npm run format:check

      - name: Build Site
        run: npm run build

      - name: Check Size
        run: npm run check-size
